{{ define "flavours-input" }}
<fieldset class="flavours fieldset gap-4"
    hx-post="/flavours/input"
    hx-trigger="flavour-submit"
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="flex flex-wrap gap-4 empty:hidden" id="checkbox-container"></div>
    <div class="form-control">
        <label class="input w-full">
            <span class="label w-28">Flavours</span>
            <input
                name="new_flavour"
                list="flavour-options"
                id="datalist-input"
                placeholder="Type to select..."
            />
            <datalist id="flavour-options">
                {{ range  .flavours }}
                    <option value="{{ .ID }}">{{ .Name }}</option>
                {{ end }}
            </datalist>
        </label>
    </div>
</fieldset>

<script type="module">
const $dlist = $("#datalist-input")
const $container = $("#checkbox-container")
const $list = $("#flavour-options")


const getOptionText = value => {
    const $el = [ ...$list.querySelectorAll("option") ].filter($e => $e.value == value)
    return $el[0].text
}

const removeOption = value => {
    const $el = $list.querySelector(`option[value="${value}"]`)
    $list.removeChild($el)
}

const addOption = (value, text) => {
    let $option = document.createElement("option")
    $option.value = value
    $option.text = text

    $list.appendChild($option)
}

const selectFlavour = (value) => {
    const id = `cb-flavour-${value}`
    const text = getOptionText(value)
    removeOption(value)

    const $label = createElement(`<label class="badge badge-outline badge-primary" id="${id}">
        <input type="checkbox" class="hidden" name="flavours[].int" value="${value}" checked />
        <span>${text}</span>
        <span>×</span>
    </label>`)

    $label.addEventListener("click", () => $checkbox.click())

    // Remove when unchecked
    $label.querySelector("input").addEventListener("change", function() {
        if (!this.checked) {
            addOption(value, $span.textContent)
            $label.remove()
        }
    })

    $container.appendChild($label)
    $dlist.value = ''
}

const createElement = (html) => {
    const $wrapper = document.createElement("template")
    $wrapper.className = "hidden"
    $wrapper.innerHTML = html
    return $wrapper.content.firstElementChild
}

$dlist.addEventListener('keydown', (e) => {
    if (e.key !== 'Enter') {
        return;
    }
    event.preventDefault()

    if (!$dlist.value.trim()) {
        return
    }

    let $options = $list.querySelectorAll('option')
    for (let $option of $options) {
        if ($option.text.trim().toLowerCase() != $dlist.value.trim().toLowerCase()) {
            continue
        }

        selectFlavour($options[i].value)
        return
    }

    $dlist.closest('.flavours').dispatchEvent(new Event('flavour-submit', { bubbles: true }))
})

$dlist.addEventListener("change", () => {
    const value = $dlist.value.trim()
    if (!value) {
        return
    }

    selectFlavour(value)
})

{{ range .existing }}
    selectFlavour('{{ . }}')
{{ end }}
</script>
{{ end }}
