{{ define "flavours-input" }}
<div class="flex flex-wrap gap-4" id="checkbox-container"></div>
<div class="form-control max-w-md">
    <label class="input w-full">
        <span class="label w-28">Flavours</span>
        <input
            list="flavour-options"
            id="datalist-input"
            placeholder="Type to select..."
        />
        <datalist id="flavour-options">
            {{ range  .flavours }}
                <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}
        </datalist>
    </label>
</div>

<script type="module">
const $dlist = $("#datalist-input")
const $container = $("#checkbox-container")
const $list = $("#flavour-options")

const getOptionText = value => {
    const $el = [ ...$list.querySelectorAll("option") ].filter($e => $e.value == value)
    return $el[0].text
}

const removeOption = value => {
    const $el = $list.querySelector(`option[value="${value}"]`)
    $list.removeChild($el)
}

const addOption = (value, text) => {
    let $option = document.createElement("option")
    $option.value = value
    $option.text = text

    $list.appendChild($option)
}

const selectFlavour = (value) => {
    const id = `cb-flavour-${$dlist.value}`
    const text = getOptionText(value)
    removeOption(value)

    const $label = document.createElement("span")
    $label.className = "badge badge-outline badge-primary"
    $label.id = id

    const $checkbox = document.createElement("input")
    $checkbox.type = "checkbox"
    $checkbox.checked = true
    $checkbox.className = "hidden"
    $checkbox.name = "flavours.int[]"
    $checkbox.value = value

    $label.addEventListener("click", () => $checkbox.click())

    const $span = document.createElement("span")
    $span.textContent = text

    // Remove when unchecked
    $checkbox.addEventListener("change", () => {
        if (!$checkbox.checked) {
            addOption(value, $span.textContent)
            $label.remove()
        }
    })

    const $close = document.createElement("span")
    $close.textContent = '×'

    $label.appendChild($checkbox)
    $label.appendChild($span)
    $label.appendChild($close)
    $container.appendChild($label)

    $dlist.value = ''
}

const handleSelectFlavour = () => {
    const value = $dlist.value.trim()
    selectFlavour(value)
}

$dlist.addEventListener("change", handleSelectFlavour)

{{ range .existing }}
    selectFlavour('{{ . }}')
{{ end }}
</script>
{{ end }}
