{{ define "icon-upload" }}
<div class="flex justify-center">
    <div class="relative h-full object-contain rounded-field border max-w-[50%] overflow-hidden"
        onclick="icon_input.click()"
    >
        <input type="file"
            class="file-input hidden"
            name="image"
            hx-encoding="multipart/form-data"
            hx-post="{{ .action }}"
            id="icon_input"
        />
        <img src="/{{ or .icon "assets/img/coffee.png" }}"
            onerror="if (this.src != '/assets/img/coffee.png') this.src = '/assets/img/coffee.png'"
            alt="coffee"
        />
        <div class="absolute bottom-[-1px] right-[-1px] rounded-field bg-neutral border">
            <img src="/assets/img/edit.png" alt="{{ .alt }}" />
        </div>
    </div>
</div>
{{ end }}
