{{ define "recipe-card" }}
{{ $id := or .Recipe.ID (rand "r") }}
<article class="collapse border border-base-300 card-border bg-neutral w-full relative" id="recipe_{{ $id }}">
    <input type="radio" name="recipe-card-c"
        {{ if or .open .edit }}
            checked="checked"
        {{ end }}
    />
    <div class="collapse-title w-full relative">
        <div class="absolute top-2 right-2 flex flex-col gap-2 items-end">
            {{ if .Recipe.Drink }}
                <div class="badge">{{ .Recipe.Drink }}</div>
            {{ end }}
            {{ if .Recipe.Time }}
                <div class="badge badge-soft badge-accent">{{ .Recipe.Time }}</div>
            {{ end }}
            {{ if .Recipe.Frozen }}
                <div class="badge badge-soft badge-info">Frozen</div>
            {{ end }}
        </div>
        <h2 class="card-title">{{ .Recipe.Name }}</h2>
        <p>{{ html (or .Coffee.Name "&nbsp;") }}</p>
        <div class="flex justify-between w-full">
            <div class="rating">
                <div class="mask mask-star" aria-label="1 star" {{ if eq .Recipe.Rating 1 }}aria-current="true"{{ end }}></div>
                <div class="mask mask-star" aria-label="2 star" {{ if eq .Recipe.Rating 2 }}aria-current="true"{{ end }}></div>
                <div class="mask mask-star" aria-label="3 star" {{ if eq .Recipe.Rating 3 }}aria-current="true"{{ end }}></div>
                <div class="mask mask-star" aria-label="4 star" {{ if eq .Recipe.Rating 4 }}aria-current="true"{{ end }}></div>
                <div class="mask mask-star" aria-label="5 star" {{ if eq .Recipe.Rating 5 }}aria-current="true"{{ end }}></div>
            </div>
        </div>
    </div>

    <div class="collapse-content">
        <section>
            <section class="card-stats relative {{ if .edit }}hidden{{ end }}">
                <div class="stats w-full grid-cols-2">
                    <div class="stat">
                        <div class="stat-title">Dose</div>
                        <div class="stat-value">{{ .Recipe.Dose }}g</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Liquid Out</div>
                        <div class="stat-value">{{ .Recipe.WeightOut }}g</div>
                    </div>
                </div>
                <div class="stats w-full grid-cols-2 rounded-none">
                    <div class="stat">
                        <div class="stat-title">Declump Method</div>
                        <div class="stat-value whitespace-wrap">{{ .Recipe.Declump }}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">RDT</div>
                        <div class="stat-value">{{ or .Recipe.RDT "No" }} sprays</div>
                    </div>
                </div>
                <div class="stats w-full grid-cols-2 rounded-none">
                    <div class="stat">
                        <div class="stat-title">Grinder</div>
                        <div class="stat-value">{{ or .Recipe.Grinder }}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Grind Size</div>
                        <div class="stat-value">{{ or .Recipe.GrindSetting }}</div>
                    </div>
                </div>
                <h3>Steps</h3>
                <ul class="list w-full">
                    {{ range .Recipe.Steps }}
                        <li class="list-row flex">
                            <div class="flex-grow">
                                <div class="flex justify-between">
                                    <span class="font-bold">{{ .Title }}</span>
                                    {{ if .Time }}
                                        <span class="badge badge-soft">{{ .Time }}</span>
                                    {{ end }}
                                </div>
                                <div>{{ .Instructions }}</div>
                            </div>
                        </li>
                    {{ end }}
                </ul>
            </section>
            <div class="flex justify-between">
                <button class="btn btn-error delete-button"
                    hx-delete="/coffees/{{ .Coffee.ID }}/recipes/{{ .Recipe.ID }}"
                    hx-confirm="Are you sure you want to delete this recipe?"
                    hx-target="#recipe_{{ $id }}"
                    hx-swap="outerHTML"
                >
                    Delete
                </button>
                <button class="btn btn-primary edit-button">Edit</button>
            </div>
        </section>

        <form
            {{ if not .edit }}
            class="hidden"
            {{ end }}
            {{ if .Recipe.ID }}
            hx-put="/coffees/{{ .Coffee.ID }}/recipes/{{ .Recipe.ID }}"
            {{ else }}
            hx-post="/coffees/{{ .Coffee.ID }}/recipes"
            {{ end }}
            hx-ext="json-enc"
            hx-target="#recipe_{{ $id }}"
        >
            <fieldset class="fieldset gap-4">
                <label class="input w-full">
                    <span class="label w-40">Name *</span>
                    <input type="text" class="w-full" name="name" placeholder="Name *" value="{{ or .Form.Name .Recipe.Name }}" />
                </label>
                {{ template "field-error" .FieldErrors.name }}

                <label class="input w-full">
                    <span class="label w-50">Dose *</span>
                    <input type="number"
                        min="0"
                        step="1"
                        name="dose.int"
                        placeholder="Dose *"
                        value="{{ or .Form.Dose .Recipe.Dose }}"
                        class="w-full"
                    />
                    <span class="label w-12">g</span>
                </label>
                {{ template "field-error" .FieldErrors.dose }}

                <label class="input w-full">
                    <span class="label w-40">Weight Out *</span>
                    <input type="number"
                        min="0"
                        step="1"
                        name="weight_out.int"
                        placeholder="Weight Out *"
                        value="{{ or .Form.WeightOut .Recipe.WeightOut }}"
                        class="w-full"
                    />
                    <span class="label w-12">g</span>
                </label>
                {{ template "field-error" .FieldErrors.weight_out }}

                {{ $drink := or .Form.Drink .Recipe.Drink }}
                <label class="input w-full">
                    <span class="label w-40">Drink Type *</span>
                    <select class="w-full" name="drink">
                        <option value="" {{ selected $drink "" }}>Pick a Drink TYpe</option>
                        <option value="Americano" {{ selected $drink "Americano" }}>Americano</option>
                        <option value="Cafetiere" {{ selected $drink "Cafetiere" }}>Cafetiere</option>
                        <option value="Cappuccino" {{ selected $drink "Cappuccino" }}>Cappuccino</option>
                        <option value="Cortado" {{ selected $drink "Cortado" }}>Cortado</option>
                        <option value="Doppio" {{ selected $drink "Doppio" }}>Doppio</option>
                        <option value="Espresso" {{ selected $drink "Espresso" }}>Espresso</option>
                        <option value="Flat White" {{ selected $drink "Flat White" }}>Flat White</option>
                        <option value="Latte" {{ selected $drink "Latte" }}>Latte</option>
                        <option value="Lungo" {{ selected $drink "Lungo" }}>Lungo</option>
                        <option value="Macchiato" {{ selected $drink "Macchiato" }}>Macchiato</option>
                        <option value="Mocha Pot" {{ selected $drink "Mocha Pot" }}>Mocha Pot</option>
                        <option value="Mocha" {{ selected $drink "Mocha" }}>Mocha</option>
                        <option value="Pourover" {{ selected $drink "Pourover" }}>Pourover</option>
                        <option value="Ristretto" {{ selected $drink "Ristretto" }}>Ristretto</option>
                        <option value="Other" {{ selected $drink "Other" }}>Other</option>
                    </select>
                </label>
                {{ template "field-error" .FieldErrors.drink }}

                {{ $declump := or .Form.Declump .Recipe.Declump }}
                <label class="input w-full">
                    <span class="label w-40">Declump</span>
                    <select class="w-full" name="declump">
                        <option value="" {{ selected $declump "" }}>Pick a Declump Method</option>
                        <option value="Shaker" {{ selected $declump "Shaker" }}>Shaker</option>
                        <option value="WDT" {{ selected $declump "WDT" }}>WDT</option>
                    </select>
                </label>
                {{ template "field-error" .FieldErrors.declump }}

                <label class="input w-full">
                    <span class="label w-40">RDT</span>
                    <input type="number"
                        min="0"
                        step="1"
                        name="rdt.int"
                        placeholder="RDT"
                        value="{{ or .Form.RDT .Recipe.RDT }}"
                        class="w-full"
                    />
                    <span class="label">sprays</span>
                </label>
                {{ template "field-error" .FieldErrors.rdt }}

                {{ $frozen := or .Form.Frozen .Recipe.Frozen }}
                <label class="input w-full">
                    <span class="label w-26">Frozen</span>
                    <input type="checkbox" class="checkbox" name="frozen.bool" {{ checked $frozen true }} />
                </label>
                {{ template "field-error" .FieldErrors.frozen }}

                <label class="input w-full">
                    <span class="label w-40">Grinder *</span>
                    <input type="string" name="grinder" placeholder="Grinder *" value="{{ or .Form.Grinder .Recipe.Grinder }}" class="w-full" />
                </label>
                {{ template "field-error" .FieldErrors.grinder }}

                <label class="input w-full">
                    <span class="label w-40">Grind Size *</span>
                    <input type="number"
                        min="0"
                        step="0.1"
                        name="grind_setting.float"
                        placeholder="Grind Size *"
                        value="{{ or .Form.GrindSetting .Recipe.GrindSetting }}"
                        class="w-full"
                    />
                </label>
                {{ template "field-error" .FieldErrors.grind_setting }}

                {{ $rating := or .Form.Rating .Recipe.Rating }}
                <label class="input w-full">
                    <span class="label w-40">Rating</span>
                    <div class="rating w-full">
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="1 star"
                            value="1"
                            {{ checked $rating 1 }}
                        />
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="2 star"
                            value="2"
                            {{ checked $rating 2 }}
                        />
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="3 star"
                            value="3"
                            {{ checked $rating 3 }}
                        />
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="4 star"
                            value="4"
                            {{ checked $rating 4 }}
                        />
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="5 star"
                            value="5"
                            {{ checked $rating 5 }}
                        />
                    </div>
                </label>
                {{ template "field-error" .FieldErrors.rating }}

                <div class="flex justify-between">
                    <h2 class="w-36"></h2>
                    <span class="btn btn-primary add-step">Add Step</span>
                </div>

                <fieldset class="fieldset steps-container">
                    <hr />
                    {{ range (or .Form.Steps .Recipe.Steps) }}
                        <label class="input w-full">
                            <span class="label w-28">Title</span>
                            <input type="text" name="steps[].title" placeholder="Title" value="{{ .Title }}" class="w-full"/>
                        </label>
                        <label class="input w-full">
                            <span class="label w-28">Time</span>
                            <input type="number"
                                min="0"
                                step="1"
                                name="steps[].time.int"
                                placeholder="Time"
                                {{ if .Time }}
                                    value="{{ seconds .Time }}"
                                {{ end }}
                                class="w-full"
                            />
                        </label>
                        <textarea class="w-full textarea"
                            name="steps[].instructions"
                            placeholder="Instructions"
                        >{{ .Instructions }}</textarea>
                        <hr />
                    {{ else }}
                        <label class="input w-full">
                            <span class="label w-28">Title</span>
                            <input type="text" name="steps[].title" placeholder="Title" class="w-full" />
                        </label>
                        <label class="input w-full">
                            <span class="label w-28">Time</span>
                            <input type="number"
                                min="0"
                                step="1"
                                name="steps[].time.int"
                                placeholder="Title"
                                class="w-full"
                            />
                        </label>
                        <textarea class="w-full textarea"
                            name="steps[].instructions"
                            placeholder="Instructions"
                        ></textarea>
                        <hr />
                    {{ end }}
                </fieldset>

                <button type="submit" class="btn btn-primary">Save Recipe</button>
            </fieldset>
        </form>
    </div>
</article>

<script type="module">
const $card = $("#recipe_{{ $id }}")
const $stats = $card.querySelector(".card-stats")
const $form = $card.querySelector("form")

$card.querySelector(".edit-button").addEventListener("click", () => {
    $stats.classList.add("hidden")
    $card.querySelector('.card-actions').classList.add("hidden")
    $form.classList.remove("hidden")
})

$card.querySelector(".add-step").addEventListener("click", () => {
    $card.querySelector("fieldset.steps-container").insertAdjacentHTML("beforeend", `
        <label class="input w-full">
            <span class="label w-28">Title</span>
            <input type="text" name="steps[].title" placeholder="Title" class="w-full"/>
        </label>
        <label class="input w-full">
            <span class="label w-28">Time</span>
            <input type="number"
                min="0"
                step="1"
                name="steps[].time.int"
                placeholder="Title"
                class="w-full"
            />
        </label>
        <textarea class="w-full textarea"
            name="steps[].instructions"
            placeholder="Instructions"
        ></textarea>
        <hr />
    `)
})
</script>
{{ end }}
