{{ define "roaster-card"}}
<article class="card card-side card-border bg-neutral w-full" 
    hx-get="/roasters/{{ .ID }}"
    hx-push-url="/roasters/{{ .ID }}"
>
    <figure>
        {{ if .Icon }}
            <img src="/{{ .Icon }}"
                onerror="if (this.src == '/assets/img/coffee.png') return;
                    this.src = '/assets/img/coffee.png';
                    this.classList.remove('object-fit');
                    this.classList.add('object-contain');
                "
                alt="roaster"
                class="h-full object-fit w-[100px] rounded-box"
            />
        {{ else }}
            <img src="/assets/img/coffee.png"
                alt="roaster"
                class="h-full object-contain w-[100px] rounded-box"
            />
        {{ end }}
    </figure>
    <div class="card-body">
        <div class="card-title">{{ .Name }}</div>
        <p class="whitespace-pre">{{ .Description }}</p>
        {{ if .URL }}
            <div class="card-actions">
                <a href="{{ .URL }}" class="badge badge-outline" target="_blank">Roaster Website</a>
            </div>
        {{ end }}
    </div>
</article>
{{ end }}
