{{ define "components/timer-modal" }}
<button class="btn btn-square btn-ghost" onclick="timer_modal.showModal()">
    <svg xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current"
    >
        <path d="M22 14c0 5.523-4.478 10-10 10s-10-4.477-10-10 4.478-10 10-10 10 4.477 10 10zm-2 0c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8 8-3.589 8-8zm-6-11.819v-2.181h-4v2.181c1.408-.238 2.562-.243 4 0zm6.679 3.554l1.321-1.321-1.414-1.414-1.407 1.407c.536.402 1.038.844 1.5 1.328zm-8.679 2.265v6h6c0-3.309-2.691-6-6-6z"/>
    </svg>
</button>
<dialog id="timer_modal" class="modal">
    <div class="modal-box text-center w-11/12 max-w-11/12">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3>Timer</h3>

        <div class="display" style="font-size: 13vw"></div>
        <button class="btn btn-outline reset">Reset</button>
        <button class="btn btn-primary timer-toggle">Start/Stop</button>
    </div>
</dialog>

<script type="module">
let started = 0
let elapsed = 0
let interval

const render = () => {
    const pad = (n) => String(n).padStart(2, '0')
    const time = new Date(elapsed)

    $("#timer_modal .display").textContent = `${pad(time.getUTCMinutes())}:`
        + `${pad(time.getUTCSeconds())}:`
        + `${pad(Math.floor(time.getUTCMilliseconds() / 10))}`
}

const toggle = () => {
    if (interval) {
        stop()
        return
    }

    started = Date.now() - elapsed
    interval = setInterval(() => {
        elapsed = Date.now() - started
        render()
    }, 10)
}


const stop = () => {
    clearInterval(interval)
    interval = null
}

const reset = () => {
    stop()
    elapsed = 0
    render()
}

render()

$("#timer_modal .reset").addEventListener("click", reset)
$("#timer_modal .timer-toggle").addEventListener("click", toggle)
</script>
{{ end }}
