{{ define "pages/brewers" }}
<div class="breadcrumbs text-sm">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/brewers">Brewers</a></li>
    </ul>
</div>

{{ if not .Open }}
    <button class="btn btn-primary" onclick="this.remove(); $('#create-card').classList.remove('hidden')">
        Create Brewer
    </button>
{{ end}}
<div class="card card-border bg-neutral w-full {{ if not .Open }}hidden{{ end }}" id="create-card">
    <div class="card-body">
        <form
            hx-post="/brewers"
            hx-ext="json-enc"
        >
            <fieldset class="fieldset gap-4">
                <label class="input w-full">
                    <span class="label w-22">Name *</span>
                    <input type="text" name="name" placeholder="Name..." value="{{ .Form.Name }}" />
                </label>
                {{ template "field-error" .FieldErrors.name }}

                <label class="input w-full">
                    <span class="label w-22">Brand *</span>
                    <input type="text" name="brand" placeholder="Brand..." value="{{ .Form.Brand }}" />
                </label>
                {{ template "field-error" .FieldErrors.brand }}

                <label class="input w-full">
                    <span class="label w-22">Model No *</span>
                    <input type="text" name="model" placeholder="Model No..." value="{{ .Form.ModelNumber }}" />
                </label>
                {{ template "field-error" .FieldErrors.model }}

                <label class="select w-full">
                    <span class="label w-22">Brewer Type *</span>
                    <select name="type">
                        <option value="" {{ selected .Form.Type "" }}>Select Brewer Type</option>
                        {{ range .Enum.Brewers }}
                            <option value="{{ . }}" {{ selected . $.Form.Type }}>{{ . }}</option>
                        {{ end }}
                    </select>
                </label>
                {{ template "field-error" .FieldErrors.type }}

                <button type="submit" class="btn btn-primary">Create Brewer</button>
            </fieldset>
        </form>
    </div>
</div>

<h2>Brewers</h2>
{{ range .Brewers }}
    {{ template "brewer-card" . }}
{{ else }}
    <div class="alert alert-notice">No brewers to display</div>
{{ end }}
{{ end }}
