{{ define "pages/coffee" }}
<div class="breadcrumbs text-sm">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/roasters/{{ .Data.Coffee.Roaster.ID }}">Roaster: {{ .Data.Coffee.Roaster.Name }}</a></li>
    <li><a href="/roasters/{{ .Data.Coffee.Roaster.ID }}">Coffee: {{ .Data.Coffee.Name }}</a></li>
  </ul>
</div>

<div class="card card-border bg-neutral w-full" id="update-card">
    <div class="card-body">
        {{ template "icon-upload" (map
            "action" ( print "/coffees/" .Data.Coffee.ID "/icon" )
            "icon" .Data.Coffee.Icon
            "alt" .Data.Coffee.Name
        ) }}

        <form
            hx-put="/coffees/{{ .Data.Coffee.ID }}"
            hx-ext="json-enc"
        >
            <fieldset class="fieldset gap-4">
                <label class="input w-full">
                    <span class="label w-28">Name *</span>
                    <input type="text" name="name" placeholder="Name..." value="{{ or .Form.Name .Data.Coffee.Name }}" />
                </label>
                {{ template "field-error" .FieldErrors.name }}

                {{ $roaster := or .Form.Roaster .Data.Coffee.RoasterID }}
                <label class="input w-full">
                    <span class="label w-28">Roaster *</span>
                    <select class="w-full" name="roaster.int">
                        <option value="" disabled selected>Pick a Roaster</option>
                        {{ range .Data.Roasters }}
                            <option value="{{ .ID }}" {{ selected $roaster .ID }}>{{ .Name }}</option>
                        {{ end}}
                    </select>
                </label>
                {{ template "field-error" .FieldErrors.flavour }}

                {{ $roastLevel := or .Form.Roast .Data.Coffee.Roast }}
                <label class="input w-full">
                    <span class="label w-28">Roast *</span>
                    <select class="w-full" name="roast.int">
                        <option value="" disabled selected>Pick a Roast Level</option>
                        <option value="1" {{ selected $roastLevel 1 }}>Very Light</option>
                        <option value="2" {{ selected $roastLevel 2 }}>Light</option>
                        <option value="3" {{ selected $roastLevel 3 }}>Medium Light</option>
                        <option value="4" {{ selected $roastLevel 4 }}>Medium</option>
                        <option value="5" {{ selected $roastLevel 5 }}>Medium Dark</option>
                        <option value="6" {{ selected $roastLevel 6 }}>Dark</option>
                        <option value="7" {{ selected $roastLevel 7 }}>Very Dark</option>
                    </select>
                </label>
                {{ template "field-error" .FieldErrors.roast }}

                {{ $caffeineLevel := or .Form.Caffeine .Data.Coffee.Caffeine }}
                <label class="input w-full">
                    <span class="label w-28">Caffeine *</span>
                    <select class="w-full" name="caffeine.int">
                        <option value="" disabled selected>Pick a Caffeine Level</option>
                        <option value="1" {{ selected $caffeineLevel 1 }}>Caffeinated</option>
                        <option value="2" {{ selected $caffeineLevel 2 }}>Half Caf</option>
                        <option value="3" {{ selected $caffeineLevel 3 }}>Decaf</option>
                    </select>
                </label>
                {{ template "field-error" .FieldErrors.caffeine }}

                {{ $rating := or .Form.Rating .Data.Coffee.Rating }}
                <label class="input w-full">
                    <span class="label w-22">Rating</span>
                    <div class="rating">
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="1 star"
                            value="1"
                            {{ checked $rating 1 }}
                        />
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="2 star"
                            value="2"
                            {{ checked $rating 2 }}
                        />
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="3 star"
                            value="3"
                            {{ checked $rating 3 }}
                        />
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="4 star"
                            value="4"
                            {{ checked $rating 4 }}
                        />
                        <input type="radio" name="rating.int" class="mask mask-star-2 bg-orange-400" aria-label="5 star"
                            value="5"
                            {{ checked $rating 5 }}
                        />
                    </div>
                </label>
                {{ template "field-error" .FieldErrors.rating }}

                <label class="input w-full">
                    <span class="label w-28">URL</span>
                    <input type="text" name="url" placeholder="https://..." value="{{ or .Form.URL .Data.Coffee.URL "" }}" />
                </label>
                {{ template "field-error" .FieldErrors.url }}

                {{ template "flavours-input" (map
                    "existing" .Form.Flavours
                    "flavours" .Data.Flavours
                ) }}

                <textarea name="notes" class="textarea w-full" placeholder="Notes...">{{
                    or .Form.Notes .Data.Coffee.Notes
                }}</textarea>
                {{ template "field-error" .FieldErrors.notes }}

                <button type="submit" class="btn btn-primary">Update Coffee</button>
            </fieldset>
        </form>
    </div>
</div>

<h2>Roaster</h2>
{{ with .Data.Coffee.Roaster }}
    {{ template "roaster-card" . }}
{{ end }}

<div class="flex justify-between">
    <h2>Recipes</h2>
    <button class="btn btn-primary"
        hx-get="/coffees/{{ .Data.Coffee.ID }}/recipes"
        hx-target="#recipes"
        hx-swap="afterbegin"
    >
        Add
    </button>
</div>
<section id="recipes" class="flex flex-col gap-2">
    {{ range .Data.Coffee.Recipes }}
        {{ template "recipe-card" (map
            "Recipe" .
            "Coffee" $.Data.Coffee
        ) }}
    {{ else }}
    <div class="alert alert-notice">No Recipes yet</div>
    {{ end }}
</section>
{{ end }}
