{{define "pages/login"}}
<div class="card card-border bg-neutral" id="login-card">
    <div class="card-body">
        <h2 class="card-title">Login</h2>
        <form
            hx-target="#login-card"
            hx-post="/login"
            hx-ext="json-enc"
        >
            <fieldset class="fieldset">
                <label class="label">Name *</label>
                <input type="text" name="name" class="input" placeholder="Name..." value="{{ .Data.name }}" />
                {{ template "field-error" .FieldErrors.name }}

                <label class="label">Password *</label>
                <input type="password" name="password" class="input" placeholder="Password..." />
                {{ template "field-error" .FieldErrors.password }}

                <fieldset class="fieldset">
                    <dd>
                        {{ if .Data.register }}
                            Are you new? <a href="/register" class="font-bold hover:underline">Register an account</a>
                        {{ end }}
                    </dd>
                </fieldset>

                <button type="submit" class="btn btn-primary">Login</button>
            </fieldset>
        </form>
    </div>
</div>
{{end}}
