{{define "pages/login"}}
<div class="card card-border bg-neutral">
    <div class="card-body">
        <h2 class="card-title">Login</h2>
        <form>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Name</legend>
                <input type="text" class="input" placeholder="Name..." />
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Password</legend>
                <input type="password" class="input" placeholder="Password..." />
            </fieldset>
            <fieldset class="text-right">
                <button type="submit" class="btn btn-primary">Login</button>
            </fieldset>
        </form>
    </div>
</div>
{{end}}
