{{ define "pages/machine" }}
<div class="breadcrumbs text-sm">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/machines">Machines</a></li>
        <li><a href="/machines/{{ .Data.Machine.ID }}">{{ .Data.Machine.Name }}</a></li>
    </ul>
</div>

<div class="card card-border bg-neutral w-full" id="update-card">
    <div class="card-body">
        {{ template "icon-upload" (map
            "action" ( print "/machines/" .Data.Machine.ID "/icon" )
            "icon" .Data.Machines.Icon
            "alt" .Data.Machines.Name
        ) }}

        <form
            hx-put="/machines/{{ .Data.Machines.ID }}"
            hx-ext="json-enc"
        >
            <fieldset class="fieldset gap-4">
            <fieldset class="fieldset gap-4">
                <label class="input w-full">
                    <span class="label w-22">Name *</span>
                    <input type="text" name="name" placeholder="Name..." value="{{ or .Form.Name .Data.Machine.Name }}" />
                </label>
                {{ template "field-error" .FieldErrors.name }}

                <label class="input w-full">
                    <span class="label w-22">Brand *</span>
                    <input type="text" name="brand" placeholder="Brand..." value="{{ or .Form.Brand .Data.Machine.Brand }}" />
                </label>
                {{ template "field-error" .FieldErrors.brand }}

                <label class="input w-full">
                    <span class="label w-22">Model No *</span>
                    <input type="text" name="model" placeholder="Model No..." value="{{ or .Form.Model .Data.Machine.Model }}" />
                </label>
                {{ template "field-error" .FieldErrors.model }}

                <button type="submit" class="btn btn-primary">Save Machine</button>
            </fieldset>
        </form>
    </div>
</div>

<div class="flex justify-between">
    <h2>Baskets</h2>
    <button class="btn btn-primary"
        hx-get="/machines/{{ .Data.Machine.ID }}/baskets"
        hx-target="#baskets"
        hx-swap="afterbegin"
    >
        Add
    </button>
</div>
<section id="baskets" class="flex flex-col gap-2">
    {{ range .Data.Machine.Baskets }}
        {{ template "basket-card" (map
            "Basket" .
            "Machine" $.Data.Machine
        ) }}
    {{ else }}
        <div class="alert alert-notice">No Baskets yet</div>
    {{ end }}
</section>
