{{ define "pages/roasters" }}
<div class="breadcrumbs text-sm">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/roasters">Roasters</a></li>
    </ul>
</div>

{{ if not .Data.open }}
    <button class="btn btn-primary" onclick="this.remove(); $('#create-card').classList.remove('hidden')">Create Roaster</button>
{{ end}}
<div class="card card-border bg-neutral w-full {{ if not .Data.open }}hidden{{ end }}" id="create-card">
    <div class="card-body">
        <form
            hx-post="/roasters"
            hx-ext="json-enc"
        >
            <fieldset class="fieldset gap-4">
                <label class="input w-full">
                    <span class="label w-22">Name *</span>
                    <input type="text" name="name" placeholder="Name..." value="{{ .Form.name }}" />
                </label>
                {{ template "field-error" .FieldErrors.name }}

                <label class="input w-full">
                    <span class="label w-22">URL *</span>
                    <input type="text" name="url" placeholder="https://..." value="{{ .Form.url }}" />
                </label>
                {{ template "field-error" .FieldErrors.url }}

                <textarea name="description" class="textarea w-full" placeholder="Description...">{{
                    .Form.description
                }}</textarea>
                {{ template "field-error" .FieldErrors.description }}

                <button type="submit" class="btn btn-primary">Create Roaster</button>
            </fieldset>
        </form>
    </div>
</div>

<h2>Roasters</h2>
{{ range .Data.Roasters }}
    {{ template "roaster-card" . }}
{{ else }}
    <div class="alert alert-notice">No roasters to display</div>
{{ end }}
{{ end }}
