{{ define "pages/roasters" }}
{{ if not .Data.open }}
<button class="btn btn-primary" onclick="this.remove(); $('#create-card').classList.remove('hidden')">Create Roaster</button>
{{ end}}
<div class="card card-border bg-neutral w-full {{ if not .Data.open }}hidden{{ end }}" id="create-card">
    <div class="card-body">
        <form
            hx-post="/roasters"
            hx-ext="json-enc"
        >
            <fieldset class="fieldset">
                <label class="label">Name *</label>
                <input type="text" name="name" class="input w-full" placeholder="Name..." value="{{ .Form.name }}" />
                {{ template "field-error" .FieldErrors.name }}

                <label class="label">Description</label>
                <textarea name="description" class="textarea w-full" placeholder="Description...">{{
                    .Form.description
                }}</textarea>
                {{ template "field-error" .FieldErrors.description }}

                <label class="label">URL</label>
                <input type="text" name="url" class="input w-full" placeholder="https://..." value="{{ .Form.url }}" />
                {{ template "field-error" .FieldErrors.url }}

                <button type="submit" class="btn btn-primary">Create Roaster</button>
            </fieldset>
        </form>
    </div>
</div>

{{ range .Data.Roasters }}
<article class="card card-side card-border bg-neutral w-full" 
    hx-get="/roasters/{{ .ID }}"
    hx-push-url="/roasters/{{ .ID }}"
>
    <figure>
        <img src="/{{ .Icon }}"
            onerror="this.src = '/assets/img/coffee.png'"
            alt="roaster"
            class="h-full object-contain w-[120px] rounded-box"
        />
    </figure>
    <div class="card-body">
        <div class="card-title">{{ .Name }}</div>
        <p class="whitespace-pre">{{ .Description }}</p>
        {{ if .URL }}
        <div class="card-actions">
            <a href="{{ .URL }}" class="badge badge-outline" target="_blank">Roaster Website</a>
        </div>
        {{ end }}
    </div>
</article>
{{ else }}
<div class="alert alert-notice">No roasters to display</div>
{{ end }}
{{ end }}
