@import "tailwindcss";
@plugin "daisyui" {
    themes: coffee --default;
}

.input-error {
    color: var(--color-error);
}
.input-error:empty {
    display:none;
}

.input[list]::-webkit-calendar-picker-indicator {
  line-height: 1em;
}
